<br>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="background: #eeeeee">
                    <div class="card-title text-center text-danger toyota">
                        <br>
                        <i class="fas fa-info-circle"></i> Dodatkowe informacje
                        
                    </div>
                    <div class="card-body">
                            <div class="row text-center">                                
                                <div class="col-lg-4 col-md-12">
                                    <p class="title text-danger"><i class="fas fa-clock"></i> Najbliższe kursy</p>
                                    <p class="footer" id="event_info_footer"><strong>Kliknij w wybrany termin, by się zapisać</strong></p>
                                    
                                </div>
                                <div class="d-md-block d-lg-none">
                                    <br>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <p class="title text-danger"><i class="fas fa-percent"></i> Promocje</p>
                                    <p class="info">Kategoria B - <span class="text-danger"><strong><ins>1600zł</ins></strong></span></p>
                                    
                                    <p class="info">Kategoria AM - <span class="text-danger"><strong><ins>350zł</ins></strong></span></p>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <p class="title text-danger"> <i class="fas fa-address-book"></i> Kontakt</p>
                                    <p class="info"><strong>Głogów, ul.Lompy 23</strong>
                                        <br>
                                        (wejście od Wojska Polskiego)
                                    </p>
                                    <p class="info"><strong>Wschowa, ul.Pocztowa 10</strong></p>
                                    <p class="info">tel. <span><strong><ins>667 905 322</ins></strong></span></p>
                                </div>
                            </div>
                        <div class="footer text-center">
                            <p>
                                Driver <script>document.write(new Date().getFullYear())</script>  © Wszelkie prawa zastrzeżone by:
                                <a href="http://mkdportfolio.pl" target="_blank">MK</a> 
                                <br>
                                 <a href="/login">Panel administracyjny</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    axios.get('/api/events')
        .then((response) => {
            const eventInfoFooter = document.getElementById("event_info_footer");
            eventInfoFooter.innerHTML = "<strong>Ładowanie najbliższych kursów</strong>";
            
            response.data.forEach((event) => {
              
                const a = document.createElement("a");
                a.setAttribute("href", `/applications/new?event_id=${event._id}`);
                a.setAttribute("class", "info");
                a.style.color = "#212529";
                a.innerHTML = `<br><strong>${event.city}</strong>, ${event.date} o godz ${event.time}, kategoria ${event.course.category}`;
                eventInfoFooter.innerHTML = "<strong>Kliknij w wybrany termin, by się zapisać</strong>";
                eventInfoFooter.appendChild(a);
                
            })
            
        })
        .catch((err) => {
            console.log(err)
        })
</script>
</body>
</html>
