<footer class="footer text-center">
    <p>
        Driver <script>document.write(new Date().getFullYear())</script>  © Wszelkie prawa zastrzeżone by:
        <a href="https://websiteswithpassion.pl" target="_blank" style="color: white;">Websites With Passion</a> 
        <br>
        <a href="/login" style="color:white">Panel administracyjny</a> 
    </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    axios.get('/api/events')
        .then((response) => {
            const eventInfoFooter = document.getElementById("event_info_footer");
            eventInfoFooter.innerHTML = "<strong>Ładowanie najbliższych kursów</strong>";
            
            response.data.forEach((event) => {
              
                const a = document.createElement("a");
                a.setAttribute("href", `/applications/new?event_id=${event._id}`);
                a.setAttribute("class", "info");
                a.style.color = "#212529";
                a.innerHTML = `<br><strong>${event.office.city}</strong>, ${event.date} o godz ${event.time}, kategoria ${event.course.category}`;
                eventInfoFooter.innerHTML = "<strong>Kliknij w wybrany termin, by się zapisać</strong>";
                eventInfoFooter.appendChild(a);
                
            })
            
        })
        .catch((err) => {
            console.log(err)
        })
        axios
        .get("/api/courses")
        .then((response) => {
            const coursesDropdown = document.getElementById("courses_dropdown");
            const applicationsDropdown = document.getElementById("applications")
            response.data.forEach((course) => {
                
                const a1 = document.createElement("a");

                a1.setAttribute("class", "dropdown-item");
                a1.setAttribute("href", `/applications/courses/${course.category}`);
                a1.innerText = `Kategoria ${course.category}`;

                const a = document.createElement("a");

                a.setAttribute("class", "dropdown-item");
                a.setAttribute("href", `/courses/${course.category}`);
                a.innerText = `Kategoria ${course.category}`;


                applicationsDropdown.appendChild(a1)
                coursesDropdown.appendChild(a);
            })

            
        })
        .catch((err) => {
            console.log(err)
        })
</script>
</body>
</html>
