<!DOCTYPE html>
<html>
	

<head>
	<title> <%= header %> </title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-677JMSDCNV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-677JMSDCNV');
</script>
    <meta name="robots" content="index, follow">
    <meta name="description" content="DRIVER Nauka Jazdy - Szkoła nauki jazdy DRIVER w Głogowie i we Wschowie. Przeprowadzamy kursy na prawo jazdy w kategoriach B. na w terenie Głogowa, Wschowy i w ich okolicach.">
    <meta name="keywords" content="prawo jazdy, głogów, wschowa, prawo jazdy głogów, prawo jazdy wschowa, szkoła nauki jazdy głogów, szkoła nauki jazdy wschowa, nauka jazdy głogów, nauka jazdy wschowa, nauka jazdy, szkoła jazdy, szkoła nauki jazdy, nauka jazdy driver, driver">
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-full d-none d-lg-block d-xl-block sidebar">
        <div class="row">
            <div class="col-lg-3">
                <img src="/driver_logo.png" alt="">
            </div>
            <div class="col-lg-5" style="margin-top: 90px;">
                <h1 id="website"><%= host %> </h1>
                <p id="infoWebsite">Jazda samochodem staje się przyjemnością!!!</p>
            </div>
            <div class="col-lg-2">
                <img src="/elka.png" height="200" alt="">
            </div>
            <div class="col-lg-2" id="headerOffices" style="margin-top: 50px;"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
        <div class="container">
            <a class="navbar-brand logo d-lg-none d-md-inline-block" href="/home"><img src="/logo.png" height="35" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home" id="home">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" id="about">O nas</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle justify-content-center" id="offer" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Oferta
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee" id="courses_dropdown">
                                
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pkk" id="pkk">PKK</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery" id="gallery">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" id="contact">Kontakt</a>
                    </li>
                    <li class="nav-item d-lg-none d-md-list-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Polecane linki
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee" id="rlinks_dropdown">
                                
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://motocykle-driver.herokuapp.com" id="pkk">Motocykle</a>
                    </li>
                    <% if(typeof currentUser !== 'undefined'){ %>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Administracja
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
                                  

                                    <a class="dropdown-item" href="/courses/new">Dodaj kurs</a>
                                    <a class="dropdown-item" href="/links/new">Dodaj link</a>
                                    <a class="dropdown-item" href="/subpages/new">Dodaj podstronę</a>
                                    <a class="dropdown-item" href="/gallery/new">Dodaj galerię</a>
                                    <a class="dropdown-item" href="/applications">Zapisy na kursy</a>
                                    <a class="dropdown-item" href="/announcements/new">Dodaj ogłoszenie</a>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Wyloguj</a>
                        </li>
                    <% } %>
                   
                </ul>
            
            </div>	
        </div>	
     
        
        
    </nav>

