<div class="card" style="border:none;background: #eeeeee">
    <div class="card-title sidebar">
        <p class="side-title"> <i class="fas fa-clock"></i> Najbliższe kursy</p>
    </div>
    <div class="card-body">
        <p class="footer" id="event_info_side"><strong>Kliknij w wybrany termin, by się zapisać</strong></p>
       
    </div>
</div>
<br>
<div class="card" style="border:none;background: #eeeeee">
    <div class="card-title sidebar">
        <p class="side-title"> <i class="fas fa-percent"></i> Promocje</p>
    </div>
    <div class="card-body" id="promo_side">
        
    </div>
</div>
<br>
<div class="card" style="border:none;background: #eeeeee">
    <div class="card-title sidebar">
        <p class="side-title"> <i class="fas fa-link"></i> Polecane linki</p>
    </div>
    <div class="card-body info" id="recommended_links_side">
       
		
    </div>
</div>