<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Dodaj kurs
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/courses" method="post">
                                        
                                        <p class="info">Wpisz nazwę kategorii</p>
                                        <input type="text" placeholder="Kategoria" name="category" class="form-control">
                                        <br>
                                        <p class="info">Wpisz cenę kursu</p>
                                        <input type="number" name="price" placeholder="Cena kursu" class="form-control">
                                        <br>
                                        <p class="info">Wpisz cenę dodatkowej godziny</p>
                                        <input type="number" name="additionalPrice" placeholder="Cena dodatkowej godziny" class="form-control">
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Dodaj kurs" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>