<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/subpages/strona-główna">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Dodaj kurs</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <form action="/courses" method="post">
                    <p class="username">Wpisz nazwę kategorii</p>
                    <input type="text" placeholder="Kategoria" name="category" class="form-control" required>
                    <br>
                    <p class="username">Wpisz cenę kursu</p>
                    <input type="number" name="price" placeholder="Cena kursu" class="form-control" required>
                    <br>
                    <p class="username">Wpisz cenę dodatkowej godziny</p>
                    <input type="number" name="additionalPrice" placeholder="Cena dodatkowej godziny"
                        class="form-control" required>
                    <br>
                    <p class="username">Wpisz promocyjną cenę</p>
                    <input type="number" name="sale" placeholder="Promocyjna cena" class="form-control" required>
                    <br>

                    <input type="submit" value="Dodaj kurs" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>