<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Dodaj biuro
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <% if(error.length > 0){ %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= error %>
                                    </div>
                                <% } %>
                                    <form action="/driver/<%= driver_id %>/offices" method="post">
                                        
                                        <p class="info">Wpisz nazwę biura</p>
                                        <input type="text" placeholder="Nazwa biura" name="name" class="form-control">
                                        <br>
                                        <p class="info">Wpisz informację o godzinach otwarcia</p>
                                        <input type="text" name="openingHours" placeholder="Informacja o godzinach otwarcia" class="form-control">
                                        <br>
                                        <p class="info">Wpisz adres do map Google (adres, kod pocztowy miejscowość)</p>
                                        <input type="text" name="location" placeholder="Adres do map Google" class="form-control">
                                        <br>
                                        <p class="info">Wpisz co się znajduje w biurze</p>
                                        <input type="text" name="what" placeholder="Co się znajduje w biurze" class="form-control">
                                        <br>
                                        <p class="info">Wpisz dodatkową informację jak się wchodzi do biura</p>
                                        <input type="text" name="additional" placeholder="Dodatkowa informacja" class="form-control">
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Dodaj biuro" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>