<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Dodaj ogłoszenie
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/announcements" method="post">
                                        <textarea name="text" id="textarea" placeholder="Tekst ogłoszenia" class="form-control"></textarea>
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Dodaj ogłoszenie" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footera") %>