<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 18%">
            <div id="form1">
                <a href="/subpages/strona-główna">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Dodaj ogłoszenie</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <form action="/announcements" method="post">
                    <p class="username">Tekst ogłoszenia</p>
                    <textarea name="text" id="textarea" placeholder="Tekst ogłoszenia" class="form-control"></textarea>
                    <br>

                   
                    <input type="submit" value="Dodaj ogłoszenie" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                   
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>