<%- include("partials/header") %>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-4 d-md-none d-lg-block" id="side">
            <%- include("partials/side") %>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name">            
                   O nas
                    <br>
                    <span class="school">Najważniejsze informacje</span>
                </div>
                <div class="card-body">
                    <p class="title text-blue">Nauka Jazdy „DRIVER” nauczy Was
                            jak dobrze prowadzić motocykl!</p>
                    <p class="info">
                            Nasza firma stawia sobie za cel osiągnięcie jak najwyższej zdawalności Naszych Kursantów. Gwarantujemy bezstresowe warunki szkolenia teoretycznego i praktycznego. Zajęcia prowadzone są w miłej i przyjaznej atmosferze.
                            <br>
                            <br>
                            Nauczenie teoretyczne odbywa się w sali wykładowej, która wyposażona jest w nowe, ciekawe i aktywizujące pomoce dydaktyczne. Pozwala to na łatwe i szybkie przyswojenie wiedzy teoretycznej.
                            <br>
                            <br>
                            Nauka praktyczna jest dostosowywana do indywidualnych potrzeb Naszych Kursantów. Dodatkowym atutem jest odbywanie nauki na pojazdach marki <span class="text-blue"> <strong>Suzuki Gladius, Kawasaki ER5, Honda 125 CBR,</strong> </span> identycznych jak na egzaminie państwowym w Głogowie. Szkolenie ma na celu zdobycie wiedzy z zakresu zasad poruszania się po drodze, sztuki kierowania motocyklem oraz obsługi i zasad działania podstawowych mechanizmów w motocyklu. Aby zwiększyć jakość oferowanych usług nauka z zakresu szkolenia praktycznego odbywa się także w miastach WORD!
                    </p>
                    <p class="info"><strong>
                            To wszystko sprawi, że nauka będzie efektywna i spowoduje bardzo dobre przygotowanie do państwowego egzaminu w WORD!
                            <br>
                            Tak więc jazda samochodem staje się przyjemnością!
                    </strong></p>
                    <br>
                    <div class="row justify-content-center">
						<div class="col-lg-6 col-md-12 text-center">
							<img src="https://res.cloudinary.com/syberiancats/image/upload/v1584978621/gm6o4g7ieeuk8tvonmfk.jpg" class="img-thumbnail">
						</div>
						<div class="col-lg-6 col-md-12 text-center">
							<img src="https://res.cloudinary.com/syberiancats/image/upload/v1584978555/cxkm3md172g8xn8re3a7.jpg" class="img-thumbnail">
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#about").addClass("active");
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $("#about").css("text-decoration", "underline");
    } else {
        $("#about").css("border-bottom", "1px solid white");
    }
</script>
<%- include("partials/footer") %>