<%- include("partials/header") %>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-4 d-md-none d-lg-block" id="side">
            <%- include("partials/side") %>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name">            
                    PKK
                    <br>
                    <span class="school">Profil kandydata na kierowcę</span>
                </div>
                <div class="card-body">
                    <p class="info">
                            Aby rozpocząć kurs kazdy kursant powinien posiadac profil kandydata na kierowcę tj. <span class="toyota text-blue">PKK</span>. Profil wyrabia się w starostwie powiatowym. Aby otrzymać nr <span class="toyota text-blue">PKK</span> trzeba mieć przy sobie dowód osobisty, zdjęcie takie jak do prawa jazdy, osoby które nie maja ukończonych 18-tych urodzin zgodę rodziców na rozpoczęcie kursu przed 18 urodzinami i badania lekarskie. W razie jakiś pytań prosimy o kontakt
                    </p>
                    <br>
                    <div class="row justify-content-center">
						<div class="col-lg-6 col-md-12 text-center">
							<img src="/pkk.png" height="200" width="200" class="rounded">
						</div>
						<div class="col-lg-6 col-md-12 text-center">
							<img src="/4.png" height="200" width="200" class="rounded">
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#pkk").addClass("active");
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $("#pkk").css("text-decoration", "underline");
    } else {
        $("#pkk").css("border-bottom", "1px solid white");
    }
</script>
<%- include("partials/footer") %>