body {
  width: 100vw;
  height: 100vh;
  background:  linear-gradient(#1960d1, #131314);
  font-family: 'Montserrat', sans-serif;
}
#info {
  background:  linear-gradient(#1960d1, #131314);
  height: 100vh;
}
#form {
  background:#eeeeee;
  height: 100vh;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #1960d1;
}
a {
  font-size: 20px;
  color:  black;
}


#form .login {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #1960d1;
}

#form .username {
  font-size: 25px;
  font-weight: 700;
  color: #212529;
}

#form .button {
  width: 100%;
  margin-bottom: 15px;
  font-weight: 700;
  
}

@media (max-width: 992px) {
  #info {
      display: none;
  }
  #form1 {
      margin: 4%;
  }
  body {
    margin: 0;
    background: #eeeeee; 
  }
  .container-full {
    margin: 0;
  }
}
.btn-gradient {
  background:  #1960d1;
  border: 1px solid #1960d1;
}
#description_r {
  color: #c9c7c7;
  font-size:18px;
}

.info {
  font-size: 18px;
}
.btn-black {
  background: #131314;
  border: 1px solid  #131314;
}
