body,html {
    min-height: 100vh;
    background: #fff;
    font-family: 'Epilogue', sans-serif;
}
.bg-gradient {
    background: #fff;
}


#mainNav.navbar {
    padding: 15px 75px;
}

#mainNav .navbar-nav {
    justify-content: center;
    align-items: baseline;
    gap: 19px;
}
#mainNav .nav-link{
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 7.2px;
}

#mainNav .nav-link.active,
strong.text-danger {
    color: #1960d1;
}

.navbar__hamburger {
    color: #1960d1;
    font-size: 30px;
}

.header {
    background-image: url(./driver.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-bottom: 91px;
    padding: 54px 75px;
}

.header__image {
    justify-self: flex-start;
}

.header__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 90px;
}

.header h1 {
    color: #000;
    text-align: right;
    font-size: 64px;
    font-weight: 200;
    letter-spacing: 6.4px;
    width: 671px;
}

#eventCarousel .carousel-indicators {
    position: unset;
    margin-top: 49px;
}

#eventCarousel .carousel-indicators li {
    border-top: 10px solid rgba(25, 96, 209, 0.22);

}

#eventCarousel .carousel-control-prev,
#eventCarousel .carousel-control-next {
    background: rgba(25, 96, 209, 0.08);;
    width: 75px;
    opacity: 1;
}

.carousel-controls {
    color: rgba(25, 96, 209, 0.2);
    font-size: 60px;
}

.carousel-item h3 {
    color: #1960d1;
    font-size: 24px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    letter-spacing: 2.4px;
    margin-bottom: 38px;
}

.carousel-item p {
    color: #000;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    letter-spacing: 2.4px;
    margin-bottom: 52px;
}

.carousel-item a  {
    background: #1960d1;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 14px 15px;
    text-transform: uppercase;
}

.office__button a {
    background: #1960d1;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 11px 12px;
    text-transform: uppercase;
}

.office__button {
    margin-top: 20px;
}

.content {
    padding: 130px 75px;
}

.course {
    padding: 30px 75px;
}

.course__subheader,
.contact__subheader {
    color: #1960d1;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.6px;
}

p.content__text {
   margin-top: 32px; 
}

.content__text,
.contact__text,
.course__text {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.2px;
}

.content__header,
.contact__header,
.course__header,
.gallery__show-title {
    color: #1960d1;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1.6px;
}

.content__message {
    color: #1960d1;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.6px;
}

.content__list,
.content__message {
    margin-top: 76px;
}


.pricing {
    background: rgba(25, 96, 209, 0.10);
    padding: 42px 75px;
}

.pricing__header,
.links__header {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    letter-spacing: 2.4px;
}

.links {
    padding: 42px 75px;
}

.locations {
    background: rgba(25, 96, 209, 0.40);
    padding: 42px 75px;
}


.pricing__info p,
.links__list a {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 2.4px;
}

.pricing__info {
    font-weight: 400;
}

.pricing__info p,
.locations__list div {
    margin-top: 39px;
}

.pricing__info,
.locations__list,
.links__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing__info p,
.locations__list div,
.links__list div {
    width: 33%;
}

.links__list div {
    text-align: center;
    margin-top: 37px;
}


.locations__list {
    font-weight: 500;
    color: #000;
    font-size: 24px;
    letter-spacing: 2.4px;
}

.locations__list div:nth-child(2) {
    text-align: center;
}

.locations__list div:nth-child(3) {
    text-align: right;
}

.footer {
    background: #252525;
    color: white;
    padding: 21px 0;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.contact {
    padding: 20px 75px;
}

.contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.contact__section {
    width: 32%;
    margin-top: 15px;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus {
    border: 2px solid #1960d1;
    color: #1960d1;
    box-shadow: none;
}




#textarea:focus {
    border: 2px solid #1960d1;
    color: #1960d1;
    box-shadow: none;
}

input[type=search]::placeholder,
.text-danger {
    color: #1960d1;
}



.btn.btn-red {
    background: #1960d1;
    padding: 7px 12px;
    border: 1px solid #1960d1;
    color: white;
    border-radius: 0.4em;
}
.btn.btn-red:hover {
    background: #1960d1;
    color: white;
}
.btn.btn-full {
    width: 100%;
    font-weight: 700;
}
.btn.btn-black {
    background: #131314;
    border: 1px solid  #131314;
    border-radius: 0.4em;
    padding: 7px 12px;
    color: white;
}

.galleries,
.gallery__show {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 75px;
}

.gallery {
    width: 49%;
    position: relative;
}

.dropdown-menu {
    background: #eeeeee;
}

.img-thumbnail {
    border: 0;
    border-radius: 9px;
    margin-top: 20px;
}
.img__wrap .img-thumbnail {
    margin-top: 0;
}
.gallery .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: #F2811D;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
.gallery .img__description a {
    color: #1960d1;
    text-align: center;
	font-size: 22px;
	display: inline-block;
	position: absolute;
	top: 49%;
	left: 49%;
	-moz-transform: translate(-49%, -49%);
	-webkit-transform: translate(-49%, -49%);
	-ms-transform: translate(-49%, -49%);
	transform: translate(-49%, -49%);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.gallery.img__wrap:hover .img__description {
    visibility: visible;
    opacity: .7;
}

.gallery__show-image,
.gallery__show-info {
    width: 49%;
}

.gallery__show--rest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__show-picture {
    width: 48%;
}

@media (max-width: 992px) {
    .navbar {
        position: fixed;
    }
    .dropdown-menu.show {
        background: transparent;
        border: none;
    }

    a.dropdown-item {
        font-family: 'Karla', sans-serif;
        letter-spacing: 0.3px;
    }
}

@media (max-width: 576px) {
    #mainNav.navbar {
        justify-content: space-between;
        padding: 15px;
        align-items: baseline;
    }

    #mainNav .navbar-nav {
        display: block;
    }

    #mainNav .nav-link {
        font-size: 21px;
    }

    #eventCarousel .carousel-control-prev,
    #eventCarousel .carousel-control-next {
        width: 45px;
    }

    /* Fonts */

    .course__subheader,
    .contact__subheader {
        font-size: 27px;
    }

    p.content__text {
        margin-top: 29px; 
    }

    .content__text,
    .contact__text,
    .course__text {
        font-size: 21px;
    }

    .content__header,
    .contact__header,
    .course__header,
    .gallery__show-title {
        font-size: 29px;
    }

    .content__message {
        font-size: 29px;
    }



    .pricing__header,
    .links__header {
        font-size: 21px;
    }

    .pricing__info p,
    .links__list a {
        font-size: 21px;
    }

    .locations__list {
        font-size: 21px;
    }

    .gallery .img__description a {
        font-size: 19px;
    }

    /* Medias */

    .carousel-inner {
        padding: 0px 60px; 
    }

    .carousel-item h3,
    .carousel-item p {
        font-size: 21px;
    }

    .carousel-item a {
        font-size: 18px;
    }
    .header {
        display: none;
    }
    .links {
        padding: 42px 15px;
    }
    
    .locations {
        padding: 42px 15px;
    }
    
    .content {
        padding: 130px 15px;
    }
    
    .course {
        padding: 30px 15px;
    }

    .contact {
        padding: 40px 15px;
    }

    .galleries,
    .gallery__show {
        padding: 20px 15px;
    }

    .gallery,
    .gallery__show-image,
    .gallery__show-info,
    .gallery__show-picture {
        width: 100%;
    }

    .gallery__show-image img {
        width: 100%;
    }

    .gallery__show-title {
        margin-top: 30px;
    }

    .pricing__info p,
    .locations__list div,
    .links__list div,
    .contact__section {
        width: 100%;
        text-align: center;
    }
    .locations__list div:nth-child(2) {
        text-align: center;
    }
    
    .locations__list div:nth-child(3) {
        text-align: center;
    }

    .footer {
        padding: 10px 15px;
    }
}

