<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Dodaj ratę do kursu 
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/courses/<%= course_id %>/installments" method="post">
                                        
                                        
                                        <p class="info">Wpisz kwotę raty</p>
                                        <input type="number" name="amount" placeholder="Kwota raty" class="form-control">
                                        <br>
                                        <p class="info">Wpisz opis raty</p>
                                        <input type="text" name="description" placeholder="Opis raty" class="form-control">
                                        <br>
                                        <div class="d-inline">
                                            <input type="submit" value="Dodaj ratę" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>