<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/subpages/strona-główna">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Dodaj podstronę</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/subpages" method="post">
                    <p class="username">Wpisz nazwę podstrony</p>
                    <input type="text" placeholder="np. Strona Główna" name="name" class="form-control" required>
                    <br>
                    <p class="username">Wpisz tytuł podstrony</p>
                    <input type="text" placeholder="np. Witamy" name="title" class="form-control" required>
                    <br>
                    <p class="username">Wpisz podpis pod tytułem</p>
                    <input type="text" name="more" placeholder="np. Na naszej stronie" class="form-control" required>
                    <br>
                    <p class="username">Wpisz opis podstrony</p>
                    <textarea name="text" placeholder="Opis podstrony" class="form-control" required></textarea>

                    <br>

                    <input type="submit" value="Dodaj podstronę" class="btn btn-danger button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
                <br>
                <ul class="info">
                    Poradnik formatowania tekstu opisu podstrony:
                    <li class="info">pogrubienie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">pochylenie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">podkreślenie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">przekreślenie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">akapity -
                        <pre style="color:#212529"> <code> <span> &lt;br&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">czerwony tekst - np.
                        <pre
                            style="color:#212529"> <code> <span> &lt;del class="text-danger"&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>