<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Dodaj podstronę
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/subpages" method="post">
                                        <p class="info">Wpisz nazwę podstrony</p>
                                        <input type="text" placeholder="np. Strona Główna" name="name" class="form-control">
                                        <br>
                                        <p class="info">Wpisz tytuł podstrony</p>
                                        <input type="text" placeholder="np. Witamy" name="title" class="form-control">
                                        <br>
                                        <p class="info">Wpisz podpis pod tytułem</p>
                                        <input type="text" name="more" placeholder="np. Na naszej stronie" class="form-control">
                                        <br>
                                        <p class="info">Wpisz opis podstrony</p>
                                        <textarea name="text" id="textarea" placeholder="Opis podstrony" class="form-control"></textarea>
                                        
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Dodaj podstronę" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                    <br>
                                    <ul class="info">
                                        Poradnik formatowania tekstu opisu podstrony:
                                        <li class="info">pogrubienie -  <pre style="color:#212529"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre></li>
                                        <li class="info">pochylenie -  <pre style="color:#212529"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre></li>
                                        <li class="info">podkreślenie -  <pre style="color:#212529"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre></li>
                                        <li class="info">przekreślenie -  <pre style="color:#212529"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre></li>
                                        <li class="info">akapity -  <pre style="color:#212529"> <code> <span> &lt;br&gt; </span> </code>  </pre></li>
                                        <li class="info">niebieski tekst - np. <pre style="color:#212529"> <code> <span> &lt;del class="text-blue"&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre></li>
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>